<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1> Learn from the experts </h1>
    <br /><br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /> <br />
  </div>
</div>
<br /><br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3> Learn At Your Own Pace </h3>
    <br />
    <p> Enroll in our programs and gain access to a vast collection of tutorials that you can view any where at any time.</p>
  </div>
  <div class="col-12 col-sm">
    <h3> Learn From Experts</h3>
    <br />
    <p> choose from any of our courses and start learning them today. we ensure you get the highest material as we have expertise in our fields</p>
  </div>
  <div class="col-12 col-sm">
    <h3> It Is Free </h3>
    <br />
    <p> highest quality education is provided free of cost. join our community to make a difference in your life and in your society. </p>
  </div>
</div>
