<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br /><br />
    <h1> Learn from the experts </h1>
    <br /><br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /> <br />
  </div>
</div>
